#
# This is a Plain Old Java Properties file: https://en.wikipedia.org/wiki/.properties
#
# Properties set with environment scope to be accessible in shared flows
#
# New Relic License key: https://docs.newrelic.com/docs/apis/intro-apis/new-relic-api-keys/#ingest-license-key
LICENSE_KEY=<your license key>
